.root {
    -fx-background-color: #000000;
}

.label {
    -fx-text-fill: #f0f8ff;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #b22222;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.check-box {
    -fx-text-fill: #f0f8ff;
    -fx-font-weight: bold;
}